[project]
	description = Mirror of Apache Spark
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/TonyGKL
[access "refs/for/refs/*"]
	read = group user/TonyGKL
	push = group user/TonyGKL
	label-Code-Review = -2..+2 group user/TonyGKL
	label-Verified = -1..+1 group user/TonyGKL
	rebase = group user/TonyGKL
	removeReviewer = group user/TonyGKL
	submit = group user/TonyGKL
[access "refs/heads/*"]
	read = group user/TonyGKL
	create = group user/TonyGKL
	push = +force group user/TonyGKL
	pushMerge = group user/TonyGKL
[access "refs/tags/*"]
	push = group user/TonyGKL
	push = +force group user/TonyGKL
